<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Empréstimos</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <div th:insert="fragments/barraNavegacao :: navbar"></div>

<h1>Lista de roles</h1>

<a href="/roles/cadastrar">Novo Role</a>

<table border="1">
    <tr>
        <th>Nome da Role</th>
        <th>Ações</th>
    </tr>
    <tr th:each="role : ${roles}">
        <td th:text="${role.role}"></td>
        <td>
            <a th:href="@{'/roles/editar/' + ${role.id}}">Editar</a>
            <a th:href="@{'/roles/deletar/' + ${role.id}}">Excluir</a>   	        
        </td>
    </tr>
</table>

</body>
</html>